.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-heading {
	font-size: var(--text-5xl);
	margin-top: 3rem;
	font-weight: 200;
	letter-spacing: 1px;
}

.inner-container {
	display: flex;
	width: 87%;
	padding-top: 2.5rem;
}

/* shared class name styles */
.text-area-top,
.text-area-bot {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	padding: 2rem;
}

.left-container,
.right-container {
	display: flex;
	height: max-content;
	width: 50%;
}

.right-container {
	border-left: 1px solid rgb(184, 184, 184);
	margin-top: 8rem;
}

.top-img-container,
.bot-img-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.heading-text-left,
.heading-text-right {
	font-size: var(--text-3xl);
	font-weight: 300;
	letter-spacing: 0.5px;
}

.body-text-top,
.body-text-bot {
	font-size: var(--text-base);
	margin-top: 1rem;
	line-height: 1.5;
	letter-spacing: 0.1px;
	text-align: justify;
	font-weight: 400;
}

.body-images {
	border-radius: 5px;
}

@media screen and (max-width: 1440px) {
	.main-heading {
		font-size: var(--text-4xl);
		font-weight: 300;
		margin-top: 2.5rem;
	}

	.inner-container {
		width: 95%;
	}

	/* shared class name styles */
	.text-area-top,
	.text-area-bot {
		padding: 1rem;
	}

	.right-container {
		margin-top: 7rem;
	}

	.heading-text-left,
	.heading-text-right {
		font-size: var(--text-xl);
		font-weight: 400;
	}

	.body-text-top,
	.body-text-bot {
		font-size: var(--text-sm);
		margin-top: 0.8rem;
		line-height: 1.25;
	}
}

@media screen and (max-width: 1280px) {
	.main-heading {
		font-size: var(--text-3xl);
		margin-top: 1rem;
	}

	.inner-container {
		padding-top: 1rem;
		width: 100%;
	}

	/* shared class name styles */
	.right-container {
		margin-top: 5rem;
	}

	.text-area-top,
	.text-area-bot {
		padding: 0.5rem;
	}

	.body-text-top,
	.body-text-bot {
		line-height: 1.2;
	}
	.body-images {
		width: 95%;
	}
}

@media screen and (max-width: 1194px) {
	.inner-container {
		padding-top: 2rem;
	}

	/* shared class name styles */
	.text-area-top {
		flex: 60%;
		padding: 0 0.7rem;
	}

	.text-area-bot {
		flex: 60%;
		padding: 0 0.7rem;
	}

	.top-img-container,
	.bot-img-container {
		flex: 60%;
	}

	.right-container {
		margin-top: 6rem;
	}

	.heading-text-left,
	.heading-text-right {
		font-size: var(--text-med);
		font-weight: 400;
	}

	.body-images {
		width: 95%;
	}

	.body-text-top,
	.body-text-bot {
		font-size: var(--text-ssm);
		margin-top: 0.5rem;
		line-height: 1.25;
		letter-spacing: 0.3px;
	}
}

@media screen and (max-width: 1024px) {
	.main-heading {
		margin-top: 2rem;
	}

	.body-text-top,
	.body-text-bot {
		font-size: var(--text-xs);
		font-weight: 500;
	}
}

@media screen and (max-width: 915px) {
	.main-heading {
		margin-top: 0rem;
		font-weight: 300;
		padding: 0.5rem;
		letter-spacing: 1px;
	}

	.inner-container {
		flex-direction: column;
		width: 95%;
		padding-top: 0rem;
	}

	/* shared class name styles */
	.left-container,
	.right-container {
		width: 100%;
		padding: 1.5rem 0;
		border-bottom: 1px solid rgb(184, 184, 184);
	}

	.right-container {
		border-left: none;
		margin-top: 0rem;
	}

	.heading-text-left,
	.heading-text-right {
		font-size: var(--text-xl);
	}

	.body-images {
		width: 89%;
	}

	.body-text-top,
	.body-text-bot {
		font-size: var(--text-base);
		margin-top: 1rem;
		line-height: 1.3;
		letter-spacing: 0px;
		font-weight: 400;
	}
}

@media screen and (max-width: 768px) {
	.main-heading {
		padding: 1rem;
	}

	/* shared class name styles */
	.body-images {
		width: 95%;
	}
}

@media screen and (max-width: 428px) {
	.main-heading {
		padding: 1rem;
		margin-top: 3rem;
	}
	.inner-container {
		flex-direction: column;
		padding-top: 1.5rem;
		width: 100%;
	}

	/* shared class name styles */
	.left-container,
	.right-container {
		flex-direction: column;
		align-items: center;
		border-bottom: none;
		padding: 0 0 1rem 0;
		width: 100%;
	}

	.right-container {
		flex-direction: column-reverse;
		margin-top: 0rem;
	}

	.top-img-container,
	.bot-img-container {
		padding-bottom: 0rem;
	}

	.bot-img-container {
		margin-top: 1.5rem;
	}

	.body-images {
		width: 95%;
	}

	.text-area-top,
	.text-area-bot {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 92%;
		padding-top: 1rem;
	}

	.body-text-top,
	.body-text-bot {
		margin-top: 0.8rem;
		padding-bottom: 1rem;
		border-bottom: 1px solid rgb(184, 184, 184);
	}
}

@media screen and (max-width: 375px) {
	.main-heading {
		padding: 0;
	}

	.inner-container {
		width: 94%;
	}

	.text-area-top,
	.text-area-bot {
		width: 94%;
	}

	.body-text-top,
	.body-text-bot {
		font-size: var(--text-ssm);
		line-height: 1.35;
	}
}

@media screen and (max-width: 320px) {
	.body-text-top,
	.body-text-bot {
		line-height: 1.25;
	}
}
