.main-container {
	/* display: flex;
	justify-content: center; */
	margin-top: 6rem;
}

.inner-container {
	display: flex;
}

#swiper-slide {
	width: max-content;
}

#images {
	height: 100%;
}

@media screen and (max-width: 1440px) {
	.main-container {
		margin-top: 2.5rem;
	}
}

@media screen and (max-width: 1280px) {
	.main-container {
		margin-top: 1rem;
	}

	#swiper-container {
		height: 78dvh;
	}

	#swiper-slide {
		height: 78dvh;
	}
}

@media screen and (max-width: 884px) {
	.main-container {
		margin-top: 5rem;
	}
	#swiper-container {
		height: 70dvh;
	}

	#swiper-slide {
		height: 70dvh;
	}
}

@media screen and (max-width: 834px) {
	.main-container {
		margin-top: 10rem;
	}
}

@media screen and (max-width: 800px) {
	.main-container {
		margin-top: 12rem;
	}
}

@media screen and (max-width: 768px) {
	.main-container {
		margin-top: 6rem;
	}
}

@media screen and (max-width: 567px) {
	.main-container {
		margin-top: 5rem;
	}
}

@media screen and (max-width: 428px) {
	.main-container {
		margin-top: 4rem;
	}
	#swiper-container {
		height: 84dvh;
	}

	#swiper-slide {
		height: 84dvh;
	}
}

@media screen and (max-width: 390px) {
	.main-container {
		margin-top: 4rem;
	}
	#swiper-container {
		height: 82dvh;
	}

	#swiper-slide {
		height: 82dvh;
	}
}

@media screen and (max-width: 375px) {
	.main-container {
		margin-top: 3rem;
	}
	#swiper-container {
		height: 85dvh;
	}
	#swiper-slide {
		height: 85dvh;
	}
}

@media screen and (max-width: 360px) {
	.main-container {
		margin-top: 3rem;
	}
	#swiper-container {
		height: 100dvh;
	}
	#swiper-slide {
		height: 100dvh;
	}
	#images {
		height: 100dvh;
		width: 100dvw;
	}
}

@media screen and (max-width: 320px) {
	.main-container {
		margin-top: 3rem;
	}
	#swiper-container {
		height: 100dvh;
	}
	#swiper-slide {
		height: 100dvh;
	}
	#images {
		height: 100dvh;
		width: 100dvw;
	}
}
