.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-heading {
	font-size: var(--text-5xl);
	margin-top: 2rem;
	font-weight: 200;
	letter-spacing: 1px;
}

.inner-container {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
	width: 90%;
}

.left-container,
.right-container {
	display: flex;
	align-items: center;
	height: max-content;
	width: 50%;
}

.right-container {
	margin-top: 10rem;
	border-left: 1px solid rgb(184, 184, 184);
}

.img-container-left,
.img-container-right {
	display: flex;
	justify-content: center;
}

.left-image,
.right-image {
	border-radius: 5px;
	width: 85%;
}

.text-container-left,
.text-container-right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 55%;
}

.text-container-left {
	padding-right: 2rem;
}

.text-container-right {
	padding-left: 2rem;
}

.heading-text {
	font-size: var(--text-3xl);
	font-weight: 300;
	line-height: 1.35;
}

.heading-sub-text {
	font-size: var(--text-sm);
	color: rgb(79, 79, 79);
	font-style: italic;
	letter-spacing: 1px;
}

.body-text-left,
.body-text-right {
	font-size: var(--text-base);
	padding-top: 1rem;
	line-height: 1.5;
	font-weight: 400;
	text-align: justify;
}

.social-media-link-container {
	display: flex;
	align-items: center;
	padding-top: 1.5rem;
	text-decoration: none;
}

.ig-icon {
	font-size: var(--text-2xl);
	color: rgb(79, 79, 79);
}

.social-text {
	font-size: var(--text-med);
	color: rgb(79, 79, 79);
	padding-left: 0.6rem;
}

@media screen and (max-width: 1440px) {
	.main-heading {
		font-size: var(--text-4xl);
		margin-top: 3rem;
	}

	.inner-container {
		width: 100%;
	}

	.right-container {
		margin-top: 8rem;
	}

	.body-text-left,
	.body-text-right {
		padding-top: 0.8rem;
		line-height: 1.2;
	}

	.ig-icon {
		font-size: var(--text-xl);
	}

	.social-text {
		font-size: var(--text-base);
	}
}

@media screen and (max-width: 1280px) {
	.main-heading {
		font-size: var(--text-3xl);
		font-weight: 300;
		margin-top: 0.5rem;
	}

	.inner-container {
		margin-top: 1rem;
	}

	.left-image,
	.right-image {
		width: max-content;
	}

	.right-container {
		margin-top: 6rem;
	}

	.img-container-left {
		justify-content: flex-start;
		width: 50%;
		padding: 0.5rem;
	}
	.img-container-right {
		justify-content: flex-end;
		width: 50%;
		padding: 0.5rem;
	}

	.text-container-left {
		padding-right: 0.6rem;
		width: 60%;
	}

	.text-container-right {
		padding-left: 0.6rem;
		width: 60%;
	}

	.heading-text {
		font-size: var(--text-xl);
		font-weight: 400;
		line-height: 1.35;
	}

	.heading-sub-text {
		font-size: var(--text-xs);
	}

	.body-text-left,
	.body-text-right {
		font-size: var(--text-ssm);
		padding-top: 0.6rem;
	}

	.social-media-link-container {
		padding-top: 0.8rem;
	}

	.ig-icon {
		font-size: var(--text-lg);
	}
}

@media screen and (max-width: 1024px) {
	.heading-text {
		font-size: var(--text-lg);
		line-height: 1.25;
	}

	.body-text-left,
	.body-text-right {
		font-size: var(--text-xs);
	}
}

@media screen and (max-width: 884px) {
	.main-heading {
		margin-top: 0rem;
		padding: 1rem;
	}

	.inner-container {
		flex-direction: column;
		margin-top: 0;
		margin-bottom: 1.5rem;
		width: 95%;
	}

	.right-container,
	.left-container {
		padding: 1.5rem 0;
		width: 100%;
		border-bottom: 1px solid rgb(184, 184, 184);
		border-left: none;
		margin-top: 0;
	}

	.img-container-left,
	.img-container-right {
		width: 40%;
		padding: 0;
	}

	.text-container-left {
		padding-left: 1rem;
		width: 60%;
	}

	.text-container-right {
		padding-right: 1rem;
		border-left: none;
		width: 60%;
	}

	.heading-text {
		font-size: var(--text-xl);
	}

	.heading-sub-text {
		font-size: var(--text-ssm);
	}

	.body-text-left,
	.body-text-right {
		font-size: var(--text-base);
		padding-top: 1rem;
		line-height: 1.25;
		font-weight: 400;
	}

	.social-media-link-container {
		padding-top: 1.5rem;
	}

	.ig-icon {
		font-size: var(--text-xl);
	}

	.social-text {
		font-size: var(--text-base);
	}
}

@media screen and (max-width: 600px) {
	.main-heading {
		font-size: var(--text-2xl);
		font-weight: 400;
		margin-top: 3rem;
		padding: 1rem;
	}
	.left-container,
	.right-container {
		flex-direction: column;
		padding-top: 1.5rem;
		border-bottom: none;
	}

	.right-container {
		flex-direction: column-reverse;
	}

	.left-image,
	.right-image {
		width: 95%;
		margin: 0;
	}

	.img-container-left,
	.img-container-right {
		justify-content: center;
		width: 100%;
	}

	.text-container-left,
	.text-container-right {
		padding: 1rem 0;
		width: 94%;
		border-bottom: 1px solid rgb(184, 184, 184);
	}
}

@media screen and (max-width: 375px) {
	.main-heading {
		padding: 0.5rem;
	}

	.left-container,
	.right-container {
		padding-top: 1.2rem;
	}

	.left-image,
	.right-image {
		width: 95%;
	}

	.text-container-left,
	.text-container-right {
		width: 93%;
	}
	.body-text-left,
	.body-text-right {
		font-size: var(--text-ssm);
		line-height: 1.35;
	}
}

@media screen and (max-width: 320px) {
	.body-text-left,
	.body-text-right {
		line-height: 1.25;
	}
}
