.img-container {
	display: flex;
	justify-content: center;
	margin-top: 5rem;
}

.img-container > img {
	max-width: 24rem;
}

.sub-text {
	font-size: 1.2rem;
	font-style: italic;
	padding: 2rem;
	text-align: center;
	color: rgb(51, 51, 51);
}

.social-media {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.social-links:nth-child(1),
.social-links:nth-child(3) {
	color: rgb(39, 39, 39);
	font-size: 2rem;
	padding: 2rem;
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

.social-links:nth-child(2),
.social-links:nth-child(4) {
	color: rgb(39, 39, 39);
	font-size: 2rem;
	padding: 2rem;
	transform: translatey(-5px);
	animation: float-reverse 6s ease-in-out infinite;
}

.social-links:hover {
	color: rgb(128, 128, 128);
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-5px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes float-reverse {
	0% {
		transform: translatey(-5px);
	}
	50% {
		transform: translatey(0px);
	}
	100% {
		transform: translatey(-5px);
	}
}

@media screen and (max-width: 1280px) {
	.img-container {
		margin-top: 2.5rem;
	}
	.img-container > img {
		max-width: 21rem;
	}
}

@media screen and (max-width: 1024px) {
	.img-container {
		margin-top: 3rem;
	}
	.img-container > img {
		max-width: 22rem;
	}
}

@media screen and (max-width: 820px) {
	.img-container {
		margin-top: 10rem;
	}
	.img-container > img {
		max-width: 24rem;
	}
}

@media screen and (max-width: 768px) {
	.img-container > img {
		max-width: 20rem;
	}
	.social-media > a {
		font-size: 1.9rem;
		padding: 1.9rem;
	}
}

@media screen and (max-width: 428px) {
	.img-container {
		margin-top: 6rem;
	}

	.img-container > img {
		max-width: 18rem;
	}

	.sub-text {
		font-size: var(--text-med);
		padding: 1.8rem;
	}

	.social-media > a {
		font-size: 1.7rem;
		padding: 1.5rem;
	}
}

@media screen and (max-width: 375px) {
	.sub-text {
		font-size: var(--text-base);
		padding: 1.6rem;
	}
	.img-container > img {
		max-width: 15rem;
	}
	.social-media > a {
		font-size: 1.5rem;
		padding: 1.4rem;
	}
}

@media screen and (max-width: 320px) {
	.img-container {
		margin-top: 4rem;
	}
	.sub-text {
		padding: 1.4rem;
	}
	.img-container > img {
		max-width: 12rem;
	}
	.social-media > a {
		padding: 1.3rem;
	}
}
