.img-container {
	display: flex;
	justify-content: center;
	margin-top: 6rem;
}

.img-container > img {
	max-width: 25rem;
}

.sub-text {
	font-size: 1.2rem;
	font-style: italic;
	padding: 2rem;
	text-align: center;
	color: rgb(51, 51, 51);
}

.social-media {
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-media > a {
	color: black;
	font-size: 2rem;
	padding: 2rem;
}

.social-media > a:hover {
	color: rgb(128, 128, 128);
	transform: scale(130%);
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffc0cb;
}

@media screen and (max-width: 768px) {
	.img-container {
		margin-top: 10rem;
	}
	.img-container > img {
		max-width: 20rem;
	}
	.social-media > a {
		color: black;
		font-size: 1.9rem;
		padding: 1.9rem;
	}
}
