.img-container {
	display: flex;
	justify-content: center;
	margin-top: 6rem;
}

.img-container > img {
	max-width: 25rem;
}

.sub-text {
	font-size: 1.2rem;
	font-style: italic;
	padding: 2rem;
	text-align: center;
	color: rgb(51, 51, 51);
}

.social-media {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.social-media > a {
	color: rgb(39, 39, 39);
	font-size: 2rem;
	padding: 2rem;
}

.social-media > a:hover {
	color: rgb(128, 128, 128);
	transform: scale(130%);
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 768px) {
	.img-container {
		margin-top: 10rem;
	}
	.img-container > img {
		max-width: 20rem;
	}
	.social-media > a {
		font-size: 1.9rem;
		padding: 1.9rem;
	}
}

@media screen and (max-width: 425px) {
	.img-container {
		margin-top: 6rem;
	}

	.img-container > img {
		max-width: 18rem;
	}

	.sub-text {
		font-size: var(--text-med);
		padding: 1.8rem;
	}

	.social-media > a {
		font-size: 1.7rem;
		padding: 1.5rem;
	}
}

@media screen and (max-width: 375px) {
	.sub-text {
		font-size: var(--text-base);
		padding: 1.6rem;
	}
	.img-container > img {
		max-width: 16rem;
	}
	.social-media > a {
		font-size: 1.5rem;
		padding: 1.4rem;
	}
}

@media screen and (max-width: 320px) {
	.sub-text {
		padding: 1.4rem;
	}
	.img-container > img {
		max-width: 14rem;
	}
	.social-media > a {
		padding: 1.3rem;
	}
}
