.navbar,
.hidden-nav {
	display: flex;
	justify-content: center;
	animation: fade-in 1s ease-in-out;
}

.hamburger,
.hide-nav-social-icons,
.show-nav-social-icons {
	display: none;
}

.links-container {
	display: flex;
	overflow: hidden;
}

.links {
	text-decoration: none;
	padding: 1.5rem 1.6rem;
	font-size: var(--text-lg);
	font-family: var(--font-primary);
	color: black;
	letter-spacing: 0.1rem;
}

.links:hover {
	color: rgb(128, 128, 128);
	transform: scale(110%);
}

@media screen and (max-width: 768px) {
	.navbar,
	.hidden-nav {
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		position: fixed;
		z-index: 1;
		top: 0;
		right: -40%;
		height: 100%;
		width: 40%;
		border-radius: 20px 0 0 20px;
		box-shadow: 2px 2px 15px #bbbbbb;
		transform: translateX(100%);
		transition: all 0.5s ease-in-out;
		background-color: rgb(243, 243, 243);
	}

	.hidden-nav {
		right: 0;
		transform: translateX(0%);
	}

	.hamburger {
		display: contents;
	}

	.hamburger-icon {
		font-size: 2rem;
		margin: 2rem;
		z-index: 2;
		position: absolute;
		top: 0;
		right: 0;
	}

	.close-icon {
		font-size: 2rem;
		margin: 2rem;
		z-index: 2;
		position: fixed;
		top: 0;
		right: 0;
	}

	.links-container {
		display: flex;
		flex-direction: column;
		margin-top: 4rem;
	}

	.links {
		letter-spacing: 0.2rem;
	}

	.links:hover {
		transform: none;
	}

	.show-nav-social-icons {
		display: flex;
	}
	.nav-social-icons {
		padding: 1.5rem 1rem;
		font-size: var(--text-3xl);
		color: black;
	}
}

@media screen and (max-width: 425px) {
	.navbar,
	.hidden-nav {
		width: 100%;
	}

	.hamburger-icon,
	.close-icon {
		font-size: 1.75rem;
		margin: 1.4rem;
	}
	.links {
		padding: 1.3rem 0;
	}
}

@media screen and (max-width: 375px) {
	.navbar,
	.hidden-nav {
		width: 100%;
	}

	.hamburger-icon,
	.close-icon {
		font-size: 1.55rem;
		margin: 1.3rem;
	}

	.links {
		padding: 1rem 0;
	}
}

@media screen and (max-width: 320px) {
	.hamburger-icon,
	.close-icon {
		font-size: 1.5rem;
		margin: 1rem;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
