.loader-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;
}

.loading-text {
	margin-bottom: 0.5rem;
	font-size: var(--text-xl);
	text-align: center;
}
