@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap");

* {
	margin: 0;
	padding: 0;
	/* overflow-x: hidden; */
	font-family: var(--font-primary);
}

:root {
	--font-primary: "Inter", sans-serif;
	--text-xs: 0.75rem;
	--text-ssm: 0.875rem;
	--text-sm: 0.975rem;
	--text-base: 1rem;
	--text-med: 1.1rem;
	--text-lg: 1.125rem;
	--text-xl: 1.25rem;
	--text-2xl: 1.5rem;
	--text-3xl: 2rem;
	--text-4xl: 2.5rem;
	--text-5xl: 3rem;
	--text-6xl: 3.75rem;
}
