.main-container {
	display: flex;
	justify-content: center;
}

.inner-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin: 3rem 0 5rem 0;
	width: 90%;
}

.four-course-container {
	display: flex;
	justify-content: center;
	width: 100%;
}

.six-course-container {
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
	width: 100%;
}

.four-course-menu,
.six-course-menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
}

.menu-inner-container-top,
.menu-inner-container-bot {
	display: flex;
	flex-direction: column;
	width: 55%;
}

.top-image-container,
.bot-image-container {
	display: flex;
	width: 50%;
}

.top-image,
.bot-image {
	border-radius: 5px;
}

.sub-heading {
	font-size: var(--text-2xl);
	font-weight: 400;
}

.menu-option-container-one,
.menu-option-container-two {
	border: 1px solid black;
}

.menu-option-container-two {
	margin: 0.5rem 0;
}

.or {
	color: rgb(197, 20, 20);
	font-style: italic;
	letter-spacing: 1px;
}

.menu-inner-container-top > p,
.menu-inner-container-bot > p,
.menu-option,
.sub-heading {
	padding: 0.6rem;
}

.footer {
	font-size: var(--text-sm);
	padding: 0.6rem;
	font-style: italic;
}

@media screen and (max-width: 1440px) {
	.menu-inner-container-top,
	.menu-inner-container-bot {
		width: 65%;
	}
	.footer {
		font-size: var(--text-ssm);
	}
}

@media screen and (max-width: 1280px) {
	.inner-container {
		width: 95%;
	}

	.menu-inner-container-top,
	.menu-inner-container-bot {
		width: 70%;
	}

	.menu-inner-container-top > p,
	.menu-inner-container-bot > p,
	.menu-option,
	.sub-heading {
		padding: 0.3rem;
	}
}

@media screen and (max-width: 1194px) {
}

@media screen and (max-width: 1024px) {
	.inner-container {
		margin: 2rem 0 4rem 0;
	}

	.menu-inner-container-top,
	.menu-inner-container-bot {
		width: 80%;
	}

	.menu-inner-container-top > p,
	.menu-inner-container-bot > p,
	.menu-option,
	.sub-heading {
		padding: 0.25rem;
	}

	.sub-heading {
		font-size: var(--text-lg);
		font-weight: 500;
	}

	.menu-inner-container-top > p,
	.menu-inner-container-bot > p,
	.menu-option {
		font-size: var(--text-sm);
	}

	.footer {
		font-size: var(--text-xs);
		font-weight: 500;
	}
}

@media screen and (max-width: 928px) {
	.inner-container {
		margin: 1rem 0 4rem 0;
	}

	.menu-inner-container-top > p,
	.menu-option,
	.sub-heading {
		padding: 0.19rem;
	}
	.menu-inner-container-bot > p {
		padding: 0.2rem;
	}

	.sub-heading {
		font-size: var(--text-med);
	}

	.menu-inner-container-top > p,
	.menu-inner-container-bot > p,
	.menu-option {
		font-size: var(--text-ssm);
	}
}

@media screen and (max-width: 884px) {
	.menu-inner-container-top > p,
	.menu-option,
	.sub-heading {
		padding: 0.16rem;
	}
}

@media screen and (max-width: 834px) {
	.menu-inner-container-top > p,
	.menu-option,
	.sub-heading {
		padding: 0.13rem;
	}

	.sub-heading {
		font-size: var(--text-base);
	}
}

@media screen and (max-width: 768px) {
	.menu-inner-container-top,
	.menu-inner-container-bot {
		width: 90%;
	}
	.menu-inner-container-top > p,
	.menu-option,
	.sub-heading {
		padding: 0.1rem;
	}

	.menu-inner-container-bot > p {
		padding: 0.19rem;
	}
}

@media screen and (max-width: 600px) {
	.inner-container {
		text-align: center;
		margin: 4rem 0 0 0;
		width: 100%;
	}

	.four-course-container,
	.six-course-container {
		flex-direction: column-reverse;
		align-items: center;
		margin-bottom: 2rem;
	}

	.four-course-menu,
	.six-course-menu {
		width: 100%;
	}

	.menu-inner-container-top,
	.menu-inner-container-bot {
		width: 84%;
	}

	.top-image-container,
	.bot-image-container {
		width: 95%;
	}

	.sub-heading {
		font-size: var(--text-xl);
		font-weight: 500;
	}

	.menu-inner-container-top > p,
	.menu-inner-container-bot > p,
	.menu-option,
	.sub-heading {
		padding: 0.4rem;
	}
}

@media screen and (max-width: 428px) {
	.inner-container {
		margin: 3.4rem 0 0 0;
	}
}

@media screen and (max-width: 360px) {
	.sub-heading {
		font-size: var(--text-lg);
	}
}

@media screen and (max-width: 320px) {
	.inner-container {
		margin: 3rem 0 0 0;
	}
	.menu-inner-container-top,
	.menu-inner-container-bot {
		width: 92%;
	}

	.menu-inner-container-top > p,
	.menu-inner-container-bot > p,
	.menu-option,
	.sub-heading {
		padding: 0.32rem;
	}
}
